body{ background-image: url(./image/multiplication-table-as-background-macro-multiplication-table-as-background-macro-photo-abstract-texture-105075988.jpg);
    background-size: cover;
}
h1{ 
    text-align: center;
     color: rgb(1, 2, 12) ;
     font-size: 70px;
     background-color: rgb(92, 179, 230); box-shadow: 4px 4px 4px grey;
     text-shadow: 4px 4px 4px rgb(68, 68, 68);
     height: 100px;
     width: 800px;
     margin: 0px auto;
     padding: 30px;

}

form{ 
    text-align: center; 
    margin-top: 50px;

}

button{background-color: aquamarine; box-shadow:  4px 4px 4px rgb(39, 38, 38);

}
input , select{
    background-color: aquamarine; box-shadow: 4px 4px 4px gray; 


}